<div class="row">
  <h1>
    <%= @brand.name %>
    <button id="expand-title-edit" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
  </h1>
  <div class="collapse" id="collapseExample">
    <div class="well">

    </div>
  </div>
  <ul>
    <% @brand.stores.each do |store| %>
      <div class="col-xs-12">
        <form class="form-inline" action="/brands/<%= @brand.id %>/stores" method="post">
          <a href="/stores/<%= store.id %>"><%= store.name %></a>
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="store_id" value="<%= store.id %>">
          <button type="submit" class="form-control btn btn-danger">X</button>
        </form>
      </div>
    <% end %>
  </ul>
</div>

<div class="row">
  <form class="form-inline" action="/brands/<%= @brand.id %>/brands" method="post">
    <div class=" col-xs-4 form-group">
      <div class="input-group">
        <div class="input-group-btn">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stores <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% @stores.each do |store| %>
              <li><a href="#" id="<%= store.name %>" class="store"><%= store.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <input required readonly type="text" name="store_name" class="form-control store_name" aria-label="...">
      <button type="submit" class="btn btn-success" name="add_store">Add Brand</button>
    </div>
  </form>
</div>
