<div class="container">
  <div class="row">
    <div class="well col-xs-12">
      <form class="" action="/recipes/<%= @recipe.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger" type="submit" name="delete">Delete Recipe</button>
      </form>
      <div>
        <h1 style="text-align: center;"><%= @recipe.name %></h1>
        <h5>Ingredients</h5>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
        <h5>Instructions</h5>
        <p><%= @recipe.instructions %></p>
        <h5>Tags</h5>
        <ul>
          <% @recipe.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    <button id="expand-title-edit" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span style="text-align: center;">Update</span>
    </button>
    <div class="collapse" id="collapseExample">
      <div class="col-xs-12">
        <label for="">Edit recipe</label>
        <div class="well">
          <form class="" action="/recipes/<%= @recipe.id %>" method="post" id="ingredient-form">
            <input type="hidden" name="_method" value="patch">
            <div class="ingredient-list">
              <div class="form-group">
                <input class="form-control" type="text" name="recipe_name" value="<%= @recipe.name %>">
              </div>
              <div class="form-group">
                <label for="">Ingredients</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Ingredient <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <% @recipe.ingredients.each do |ingredient| %>
                          <li><a href="#" class="ingredient"><%= ingredient.name %></a></li>
                        <% end %>
                      </ul>
                    </div><!-- /btn-group -->
                  </div>
                  <% @recipe.ingredients.each do |ingredient| %>
                    <input required name="ingredient<%= ingredient.id %>" type="text" class="form-control" aria-label="..." value="<%= ingredient.name %>">
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default" type="button" id="add-input-field">+</button>
              </div>

              <div class="form-group">
                <label for="instructions">Instructions</label>
                <textarea class="form-control col-xs-12" name="instructions" value="<%= @recipe.instructions %>"></textarea>
              </div>
              <ul hidden>
                <% @recipe.tags.each do |tag| %>
                  <li class="tag"><%= tag.name %></li>
                <% end %>
              </ul>

              <div class="form-group">
                <div class="col-xs-12">
                  <label for="">Tags</label>
                  <div id="tag-output"></div>
                  <ul hidden id="tag-list">
                  </ul>
                </div>
              </div>

              <div class="form-group">
                <input style="margin-top: 40px;" type="text" name="add_tag" placeholder="Add a tag...">
              </div>

              <button style="margin-top: 20px;"class="btn btn-primary" type="submit" name="button">Create Recipe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
