<div class="row">
  <div class="col-xs-12">
    <h3><%= @store.name %></h3>
    <ul>
      <% @store.brands.each do |brand| %>
        <div class="col-xs-4">
          <form class="form-inline" action="/stores/<%= @store.id %>/brands" method="post">
            <a href="/brands/<%= brand.id %>"><%= brand.name %></a>
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="brand_id" value="<%= brand.id %>">
            <button type="submit" id="delete <%= brand.name %>" class="form-control btn btn-danger">X</button>
          </form>
        </div>
      <% end %>
    </ul>
  </div>
  <form class="form-inline" action="/stores/<%= @store.id %>/brands" method="post">
    <div class=" col-xs-4 form-group">
      <div class="input-group">
        <div class="input-group-btn">
          <button id="dropdown" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% @brands.each do |brand| %>
              <li><a href="#" id="<%= brand.name %>" class="brand"><%= brand.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <input required readonly type="text" name="brand_name" class="form-control brand_name" aria-label="...">
      <button type="submit" class="btn btn-success" name="add_brand">Add Brand</button>
    </div>
  </form>
</div>
